<div class="center-screen">
      <!--  
    <table class="table">
      <tbody>
          <tr *ngFor="let location of allLocations;">
              <td (click)="GetPlaylist(location.id)" style="cursor: pointer;">
                  {{location.name}}</td>
              <td (click)="deletePlaylist(playlist)" style="cursor: pointer;">
                  <img src="../../../../assets/images/tiny-trash-can.png"
                      style="width: 20px; height: 20px;">
              </td>
          </tr>
      </tbody>
  </table>-->
</div>