

<div *ngIf="finishedLoading" class="card">
  <p-dataView #dv [value]="locations" [paginator]="true" [rows]="9" filterBy="name"
      [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
      <ng-template pTemplate="header">
        <div class="center-screen">

        
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
            
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
              <!-- <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
              </span> -->
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="listItem">
          <div class="p-col-12">
              <div class="product-list-item">
                  <img [src]="product.logo" [alt]="product.name" onerror="this.onerror=null;this.src='../../assets/default.png';"/>
                  <div class="product-list-detail">
                      <div class="product-name">{{product.name}}</div>
                      <div class="product-website"><a href="https://www.{{product.website}}" target="_blank" rel="noopener noreferrer">{{product.website}}</a></div>
                      <div class="product-description">{{product.address.city}},{{product.address.state}}</div>
                      <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                      <!-- <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span> -->
                  </div>
                  <div class="product-list-action">
                      <span class="product-price">${{product.cost}} ea. mo.</span>
                      <span class="product-price">{{product.minMonths}} up to {{product.maxMonths}} mos.</span>
                      <!-- [routerLink]="[ '/', 'createanapp' ]" routerLinkActive="active"  -->
                      <p-button (click)="sendToCreateAppForm(product, product.address)" icon="pi pi-align-center" label="Create an Application" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                      <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                  </div>
              </div>
          </div>
      </ng-template>
      <ng-template let-product pTemplate="gridItem">
          <div class="p-col-12 p-md-4">
              <div class="product-grid-item card">
                  <div class="product-grid-item-top">
                      <div>
                          <!-- <i class="pi pi-tag product-category-icon"></i> -->
                          <!-- <span class="product-category">{{product.category}}</span> -->
                      </div>
                      <!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                  </div>
                  <div class="product-grid-item-content">
                      <img [src]="product.logo" [alt]="product.name" onerror="this.onerror=null;this.src='../../assets/default.png';"/>
                      <div class="product-name">{{product.name}}</div>
                      <div class="product-website"><a href="https://www.{{product.website}}" target="_blank" rel="noopener noreferrer" >{{product.website}}</a></div>
                      <div class="product-description">{{product.address.city}},{{product.address.state}}</div>
                      <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                  </div>
                  <div class="product-grid-item-bottom">
                      <span class="product-price">${{product.cost}} ea. mo.</span>
                      <span class="product-price">{{product.minMonths}} up to {{product.maxMonths}} mos.</span>
                      <p-button (click)="sendToCreateAppForm(product, product.address)" icon="pi pi-align-center" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-dataView>
</div>
    <!-- <table class="table">
      <tbody>
          <tr *ngFor="let location of locations;">
            (click)="GetPlaylist(location.id)"
              <td><h5>{{location.name}}</h5></td>
              <td><p>{{location.address}}</p></td>
              <td><p>{{location.cost}}</p></td>
          </tr>
      </tbody>
  </table> -->
