<div class="center-screen">
  <h3>Welcome to App Knap!</h3>
  <p>
    We host a place for renters to discover new locations to relocate. We provide account services with your saved applications to different locations. 
  </p>
  <a [routerLink]="[ '/', 'locations' ]" routerLinkActive="active">Click here for Locations!</a>
  <div class="centerInsideDiv">
    <h4>About Us</h4>
    <p>
      Knap means Button in Danish. 
    </p>
    <hr>
    <p>
      Thank you to Clearbit.
    </p>
    <img id="logo" src="//logo.clearbit.com/clearbit.com/" alt="Clearbit Logo">
  </div>
</div>
