/* You can add global styles to this file, and also import other style files */
#parent {
    flex-direction: column-reverse;
}
:host ::ng-deep {
     .p-menubar {
        background-image:none;
        border:black;
        border-radius: .5em;
        border-style: solid;
        max-height: 70px;
        background-color: #9bb0a0;
        margin: 1em;
    } 
    
    .p-button{
        background-color:#B09BAB;
        border-color: black;
    }
}
#logo{
    margin-top: 0px;
}
#logoText{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-family: Georgia, serif;
    font-weight: bold;
    // -webkit-text-stroke-width: .5px;
    // -webkit-text-stroke-color: black;
    word-wrap: none;
}
