#app-root{
    background-color: grey;
}
.centerInsideDiv{
    margin: auto;
    width: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }