html, body {            
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}  
html, body{
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(155, 176, 160,1) 90%);
}

#app-root{
    background-color: grey;
}
.centerInsideDiv{
    margin: auto;
    width: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
* {
    -webkit-box-sizing: border-box;
}
